<head>
    <link href="/style.css" rel="stylesheet" /> 
</head>
<body>
	<h1 id="title">SeeMe Weekly</h1>
	<form id="input_info" method="get" action="/answer">
		<label>Tell Me Your GMAIL Username</label>
		<input type="text" name="username"/><br>
		<label>Tell Me Your GMAIL Password</label>
		<input type="password" name="password"/><br>
		<label>Tell Us Who to Email</label>
		<input type="email" name="email"/><br>

	<input type="submit" value="Go"/>
	</form>
</body>