<h1>SeeMe Weekly</h1>
<h2>Tell Us Who to Email</h2>
<form method="get" action="/answer">
	<label>Tell Me Your GMAIL Username</label>
	<input type="text" name="username"/>
	<label>Tell Me Your GMAIL Password</label>
	<input type="password" name="password"/>
	<label>Tell Us Who to Email</label>
	<input type="email" name="email"/>

<input type="submit" value="Go"/>
</form>